body {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.green-cell {
    background-color: green;
}

.missionSpan {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}